:root {
	--main: #4b85fa;
	--darker: #1D33D7;
	--lighter: #A8C8FF;
	--darkest: #0A122A;
}

body {
	background-color: var(--darkest);
	font-family: Atkinson Hyperlegible, sans-serif;
}

footer { margin: .5%; }

footer a, button {
	border: none;
	display: inline;
	width: auto;
	font-size: x-large;
	padding: 3px 7px;
	margin: .5%;
	color: white;
	border: 3px solid var(--main);
	background-color: var(--darkest);
	text-decoration:none;
}

button { border-color: var(--lighter); }

footer a:hover {
	animation-name: borderToLight;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

button:hover {
	animation-name: borderToMain;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes borderToLight {
	100% {
		border-color: var(--lighter);
		border-radius: 5px;
	}
}

@keyframes borderToMain {
	100% {
		border-color: var(--main);
		border-radius: 15px;
	}
}

@keyframes fillToLight {
	100% {
		color: var(--darker);
		background-color: var(--lighter);
	}
}

@keyframes textToMain {
	100% {
		color: var(--main);
	}
}