@import "base.css";

:root {
	scroll-behavior: smooth;
	scroll-padding-top: 88px;
}

body {
	margin: 88px 0px;
	color: white;
}

a {
	text-decoration:none;
	color: white;
}

a:hover, section > a:hover {
	animation-name: borderToMain;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

h1, h2 {
	display: inline;
	margin: .5%;
}

h2 {
	font-size: medium;
	color: var(--lighter);
}

p {
	font-size: medium;
	margin: .1%;
}
p > a {
	display: inline;
	border: none;
} 

main {
	display: grid;
	margin: auto;
	width: 80%;
	grid-template-columns: auto auto;
	grid-auto-rows: 1fr;
	justify-content: center;
	align-content: center;
}

main > a, .block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1% auto;
	width: 75%;
	padding: .5% 2%;
	border: 3px solid var(--lighter);
}

.block {
	width: 60%;
	background-color: var(--darkest);
}

section {
	width: 70%;
	margin: auto;
	background-color: var(--darker);
	padding: 1%;
	border-radius: 5px;
}

section > a {
	display: block;
	text-align:center;
	font-weight: bold;
	font-size: xx-large;
	border: 3px solid var(--darker);
}

header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

nav {
	position: fixed;
	background-color: var(--darker);
	width: 100%;
	padding: 10px 20px;
	top: 0;
	box-shadow: 0 0 10px var(--darkest);
}

nav > a {
	display: inline;
	background-color: var(--darker);
	font-weight: bold;
	font-size: 200%;
	padding: 2px 20px;
	margin: 5px;
	border: 2px solid var(--darker);
}

nav > a:hover {
	animation-name: borderToLight;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

img {
	display: block;
	height: 250px;
	margin: 0px auto;
}

.jump {
	z-index: 1;
	position: fixed;
	left: -10px;
	top: 88px;
	background-color: var(--darker);
	border-radius: 10px;
	box-shadow: 0 0 10px var(--darkest);
	transition:         all 0.5s ease;
    -moz-transition:    all 0.5s ease;
    -ms-transition:     all 0.5s ease;
    -o-transition:      all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.jumpLink, .jumpLink2 {
	display: block;
	text-decoration: none;
	padding: 2px 5px;
	font-size: 120%;
	margin: 5px 15px;
	border: 2px solid var(--darker);
	border-radius: 5px;
}

.jumpLink2 {
	font-size: 80%;
	margin: 5px 15px 5px 50px;
}

.jumpHide {
	z-index: 2;
	position: fixed;
	left: 305px;
	display: block;
	margin: 0;
	background-color: var(--main);
	border: none;
	height: 60px;
	border-radius: 10px;
	transition:         all 0.5s ease;
    -moz-transition:    all 0.5s ease;
    -ms-transition:     all 0.5s ease;
    -o-transition:      all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.jumpHidden .jumpHide {
	left: -10px;
	transition:         all 0.5s ease;
    -moz-transition:    all 0.5s ease;
    -ms-transition:     all 0.5s ease;
    -o-transition:      all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.jumpLink:hover, .jumpLink2:hover {
	animation-name: borderToLight;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}
.jumpHide:hover {
	animation-name: fillToLight;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

.jumpHide img {
	height: 50px;
	margin: auto;
}

.jumpHidden {
	position: fixed;
	left: -400px;
	transition:         all 0.5s ease;
    -moz-transition:    all 0.5s ease;
    -ms-transition:     all 0.5s ease;
    -o-transition:      all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.pfps {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.set {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.pfps img {
	border-radius: 50%;
	background-color: var(--main);
	height: min(150px, 40vw);
	margin: auto;
}

.pfps p {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--darker);
	font-size: larger;
	text-align: center;
	border-radius: 5px;
	width: 100%;
	margin: 5% 2%;
	padding: 2% 5%;
	height: 40%;
}

p a {
	color: var(--lighter);
}

p a:hover {
	animation-name: textToMain;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

@media (max-width: 850px) {
	.pfps {
		flex-direction: column;
	}

	main {
		display: block;
	}
}